.gap-searchbar {
    width: 298px;
    height: 40px;
    padding: 0 17px;
    color: var(--gap-color-font-searchbar-primary);
    background-color: var(--gap-color-bg-searchbar-primary);
    border: 1px solid var(--gap-color-border-searchbar-primary);
    border-radius: 4px;
}

.gap-searchbar::placeholder {
    font-size: 16px;
}

.gap-searchbar:focus {
    outline: none;
}