@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  /* GENERAL */
  --gap-color-font-default-black: #000000;

  /* HEADER */
  --gap-color-font-header-primary: #FFFFFF;
  --gap-color-font-secondary: #7E7E7E;
  --gap-color-bg-header-primary: #1890FF;

  /* BUTTON */
  --gap-color-font-button-primary: #FFFFFF;
  --gap-color-bg-button-primary: #1890FF;

  /* SEARCHBAR */
  --gap-color-font-searchbar-primary: #000000;
  --gap-color-bg-searchbar-primary: #FFFFFF;
  --gap-color-border-searchbar-primary: #D9D9D9;

  /* GITHUB SEARCH/RESULT*/
  --gap-color-font-primary: #737373;
  --gap-color-font-secondary: #1890FF;
  --gap-color-font-tertiary: #ff0000;

  --gap-color-bg-container-githubsearch-primary: #E6F7FF;
  --gap-color-bg-result-primary: #F5F5F5;
  --gap-color-bg-result-secondary: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", roboto;
}

header {
  display: flex;
  width: 100%;
  height: 62px;
  background-color: var(--gap-color-bg-header-primary);
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 40px;
  font-size: 24px;
  font-weight: 500;
  color: var(--gap-color-font-header-primary);
}

a {
  color: unset;
  text-decoration: none;
}

button {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;

  color: var(--gap-color-font-button-primary);
  background-color: var(--gap-color-bg-button-primary);
  border-radius: 4px;
  border-color: var(--gap-color-bg-button-primary);
  cursor: pointer;
}

.gap-searchbar {
  width: 298px;
  height: 40px;
  padding: 0 17px;
  color: var(--gap-color-font-searchbar-primary);
  background-color: var(--gap-color-bg-searchbar-primary);
  border: 1px solid var(--gap-color-border-searchbar-primary);
  border-radius: 4px;
}

.gap-searchbar::placeholder {
  font-size: 16px;
}

.gap-searchbar:focus {
  outline: none;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}